.NavBar {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 6px 32px;


   background-color: #43284e;
}

.NavBar .Github:hover {
   color: white;
}

.NavBar .Logo {
   font-size: large;
   font-weight: 500;
}