.SearchBar {
   display: flex;
   justify-content: center;
   align-items: center;

   height: 100px;

   background-color: rgb(118, 118, 157);
}

.SearchBar .inputField {
   width: 400px;
   height: 20px;
}

.SearchBar .button {
   height: 24px;
}